body{
    background-color: rgb(121, 186, 216);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#protocol{
    border: 1px solid rgb(117, 10, 10);  
    width: 80vw; /* 80% da largura da viewport */
    height: 50vh; /* 50% da altura da viewport */
    margin: 65px auto;
    position: relative; /* define a base para o posicionamento absoluto dos filhos */
    
}

#conjunto{
    border: 1px solid rgb(117, 10, 10);  
    width: 25vw; /* 25% da largura da viewport */
    height: 6vh; /* 6% da altura da viewport */
    margin: 0; /* remove a margem */
    position: absolute; /* posiciona em relação ao pai */
    top: 0;
    left: 0;
}

#data{

    border: 1px solid rgb(117, 10, 10);  
    width: 18vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; 
    top: 0;
    right: 220px;
}

#horaRecebimento{
    border: 1px solid rgb(117, 10, 10);  
    width: 12vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; 
    top: 0;
    right: 0;
}

#info {
    border: 1px solid rgb(117, 10, 10);  
    width: 70vw; 
    height: 35vh; 
    margin: 0; 
    position: absolute; 
    top: 9vh;
    left: 0;
}
