body{
    background-color: rgb(121, 186, 216);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#protocol{
    border: 1px solid rgb(117, 10, 10);  
    width: 80vw; /* 80% da largura da viewport */
    height: 50vh; /* 50% da altura da viewport */
    margin: 65px auto;
    position: relative; /* define a base para o posicionamento absoluto dos filhos */
    
}

#conjunto{
    border: 1px solid rgb(117, 10, 10);  
    width: 25vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; /* posiciona em relação ao pai */
    top: 0;
    left: 0;
}

#data{

    border: 1px solid rgb(117, 10, 10);  
    width: 18vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; 
    top: 0;
    right: 250px;
}

#horaRecebimento{
    border: 1px solid rgb(117, 10, 10);  
    width: 12vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; 
    top: 0;
    right: 0;
}

#info {
    border: 1px solid rgb(117, 10, 10);  
    width: 70vw; 
    height: 35vh; 
    margin: 0; 
    position: absolute; 
    top: 9vh;
    left: 0;
}

    #nome{
        border: 1px solid rgb(10, 117, 28);
        margin: 10px
}

    #remetente{
        border: 1px solid rgb(10, 117, 28);
        margin: 10px
    }

    #conteudo{
        border: 1px solid rgb(10, 117, 28);
        margin: 10px
    }

    #quantidade{
        border: 1px solid rgb(10, 117, 28);
        margin: 10px
    }

        #nomeInput{
            width: 25vw;
            margin: 10px
        }

        #remetenteInput{
            width: 25vw;
            margin: 10px
        }

        #conteudoInput{
            width: 15vw;
            margin: 10px
        }

        #quantidadeInput{
            width: 3vw;
            margin: 10px
        }
