body{
    display: flex; /* permite maior mobilidade para as divs*/
    justify-content: center;
    align-items: center;
    height: 100vh; /* importante que o body ocupe todo o viewport */
    margin: 0;
    background-color: rgb(151, 211, 220);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#protocol{
    background-color: rgb(151, 212, 240);
    border: 1px solid rgb(117, 10, 10);  
    width: 80vw; /* 80% da largura da viewport */
    height: 50vh; /* 50% da altura da viewport */
    margin: 65px auto;
    position: relative; /* define a base para o posicionamento absoluto dos filhos */
    
}

#conjunto{
    width: 30vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; /* posiciona em relação ao pai */
    top: 0;
    left: 0;
    background-color: rgb(26, 143, 197);
    border: 1px solid rgb(117, 10, 10);
}
    #conjunto h1{ 
        margin-top: 0;
        padding-top: 10px; /* Ajuste conforme necessário */
        color: #eff8f4;
        text-align: center;
    }

#data{

    border: 1px solid rgb(117, 10, 10);  
    width: 18vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; 
    top: 0;
    right: 250px;
}

#horaRecebimento{
    border: 1px solid rgb(117, 10, 10);  
    width: 12vw; 
    height: 6vh; 
    margin: 0; 
    position: absolute; 
    top: 0;
    right: 0;
}

#info {
      
    width: 79vw; 
    height: 40vh; 
    margin: 0; 
    position: absolute; 
    top: 9vh;
    left: 0;
}

    #nome{
        margin: 10px
}

    #remetente{
        margin: 10px
    }

    #conteudo{
        margin: 10px
    }

    #quantidade{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        #nomeInput{
            width: 25vw;
            margin: 10px
        }

        #remetenteInput{
            width: 25vw;
            margin: 10px
        }

        #conteudoInput{
            width: 25vw;
            margin: 10px
        }

        #quantidadeInput{
            width: 2vw;
            margin: 10px
        }

            #retirada{
                width: 25vw;
                margin: 10px
            }

    #status{
        border: 1px solid rgb(11, 105, 42);
    }
