<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protocolo NW</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="protocol"> <!--div principal-->
        <div id="conjunto">
            <h1><strong> Protocolo de entrega </strong></h1>
        </div> <!--conjunto recebedor-->
            
        <div id="data">   
        </div> <!--data de recebimento-->

        <div id="hora">
        </div> <!--hora de recebimento-->
        
        <div id="info">
            <div id="nome">
                <span><strong>Nome / CJ: </strong></span>
                <input type="text" id="nomeInput" name="nome"> <hr>
            </div>
            
            <div id="remetente">
                <span><strong>Remetente: </strong></span>
                <input type="text" id="remetenteInput" name="remetente"> <hr>
            </div>
            
            <div id="conteudo">
                <span><strong>Conteúdo: </strong></span>
                <input type="text" id="conteudoInput" name="conteudo"> <hr>
            </div>
            
            <div id="quantidade">
                <span><strong>Quantidade: </strong></span> 
                <input type="text" id="quantidadeInput" name="quantidade"> <button id="ok"> OK </button> <hr>
                <span><strong>Retirado por: </strong></span>
                <input type="text" id="retirada" name="retirada"> <button id="ok"> OK </button> 
            </div>

            <div id="status">
                <button id="recebidos" onclick="window.location.href='recebidos.html'">Recebidos</button>
                <button id="retirados" onclick="window.location.href='retirados.html'">Retirados</button>
            </div> 
        </div> <!--nome, remetente, conteúdo, quantidade e status da entrega-->
    </div>
    <script src="../scripts/controller/recebimento.js"></script> <!--os ".." são utilizados para sair da pasta atual e acessar outra-->

</body>
</html>
